.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  @media (max-width: 320px) {
    height: 103vh;
  }

  @media (max-width: 311px) {
    height: 106vh;
  }

  @media (max-width: 300px) {
    height: 110vh;
  }

  .modalContent {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    position: relative;

    @media (max-width: 700px) {
      max-width: 400px;
    }

    @media (max-width: 560px) {
      max-width: 300px;
    }

    @media (max-width: 410px) {
      max-width: 250px;
    }

    ul, .closeButton, .modalText, .modalTitle {
      color: var(--text-color);
    }
    
    .closeButton {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
    }

    .dropdown {
      margin-top: 20px;
      text-align: left;

      .dropdownButton {
        padding: 10px 15px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;

        &:hover {
          background-color: #0056b3;
        }
      }

      .optionList {
        max-height: 140px;
        overflow-y: auto;
        margin-top: 10px;
        list-style: none;
        padding: 0;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

        li {
          padding: 10px;
          cursor: pointer;

          &:hover {
            background-color: #f1f1f1;
          }
        }
      }
    }
  }
}

.divImg {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;

  img {
    cursor: pointer;
  }
}
