main {
  background-color: cornflowerblue;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;

  @media (max-width: 320px) {
    height: 103vh;
  }

  @media (max-width: 311px) {
    height: 106vh;
  }

  @media (max-width: 300px) {
    height: 110vh;
  }

  .body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 320px) {
      height: 103vh;
    }

    @media (max-width: 311px) {
      height: 106vh;
    }

    .skills {
      font-size: 35px;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-family: 'Mouse Memoirs';
    }

    .active {
      font-size: 2.8rem;
      font-family: 'Mouse Memoirs';
      letter-spacing: 0.08rem;

      @media (max-width: 650px) {
        font-size: 2.5rem;
      }

      @media (max-width: 410px) {
        font-size: 2.1rem;
      }

      @media (max-width: 380px) {
        font-size: 1.7rem;
      }
    }

  }

  .skillsContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    .selectedSkillsContainer {
      width: 85%;
      max-width: 1200px;
      gap: 6rem;
      flex-wrap: wrap;
      justify-items: center;
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
}