* {
  scrollbar-color: #f5e4e4 cornflowerblue;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-color: rgb(33,53,71);
  --image-background: url('https://res.cloudinary.com/dptl0qlqr/image/upload/f_auto,q_auto,w_1920/background_qut4pw.png');
}

a {
  font-weight: 500;
  color: rgb(235 14 14);
  text-decoration: inherit;
}

a:hover {
  color: rgb(194, 55, 55);
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: rgb(194, 55, 55);
  }

  button {
    background-color: #f9f9f9;
  }
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #3498db;
  border-radius: 6px;
  border: 3px solid #f0f0f0;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #3498db;
  border-radius: 6px;
  border: 3px solid #f0f0f0;
}

@font-face {
  font-family: 'Mouse Memoirs';
  src: url('/src/assets/fonts/MouseMemoirs-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
