.notFound {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;

    .notFoundContainer {
        display: flex;
        align-items: center;
        flex-direction: column;

        .imgDivNotFound {
            display: flex;
            align-items: center;
            flex-direction: column;

            img {
                width: 90px;
                height: 90px;
                border-radius: 50%;
            }
        }

        h1 {
            font-size: 40px;
            color: white;
            margin: 10px;
        }

        h2 {
            font-size: 25px;
            color: white;
            margin: 10px;

            @media (max-width: 350px) {
                font-size: 23px;
            }

            @media (max-width: 310px) {
                font-size: 22px;
            }
        }

        h3 {
            font-size: 18px;
            margin: 10px;

            @media (max-width: 350px) {
                font-size: 16px;
            }

            @media (max-width: 310px) {
                font-size: 16px;
                margin: 10px 0;
            }

            @media (max-width: 290px) {
                font-size: 15px;
            }

            a {
                color: #000000;
                text-decoration: underline;
                font-weight: 700;
                letter-spacing: 0.5px;
            }
        }
    }
}